<?xml version="1.0" encoding="utf-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AFTACWebSite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AFTACConnectionString" connectionString="Data Source=hgws6.win.hostgator.com; Initial Catalog=aftacaa8_aftacaa; User ID=aftacaa8_aftac; Password='Shirley@8';" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="Data Source=hgws6.win.hostgator.com; Initial Catalog=aftacaa8_aftacaa; User ID=aftacaa8_aftac; Password='Shirley@8';MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <customErrors mode="Off" />
  </system.web>
  <applicationSettings>
    <AFTACWebSite.My.MySettings>
      <setting name="ComString" serializeAs="String">
        <value>Data Source=hgws6.win.hostgator.com; Initial Catalog=aftacaa8_aftacaa; User ID=aftacaa8_aftac; Password='Shirley@8';</value>
      </setting>
      <setting name="Loading" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailUser" serializeAs="String">
        <value>PeteGilbert</value>
      </setting>
      <setting name="MailPwd" serializeAs="String">
        <value>Shirley@1</value>
      </setting>
    </AFTACWebSite.My.MySettings>
  </applicationSettings>

	<!--This section of code must be commented out when copying to the production server.
		If it is not then we will not use the Security Socket Layer-->
	<!--************************************************************************************************-->
  <system.codedom>
      <compilers>
        <compiler language="vb;c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      </compilers>
  </system.codedom>
	<!--************************************************************************************************-->

	<!--This section of code must be uncommented when copying to the production server. This will enable the SSL-->
	<!--************************************************************************************************-->
  <!--<system.webServer>
    <rewrite>
      <rules>
	      <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	        <match url="(.*)" /> 
	        <conditions> 
		        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	        </conditions> 
	        <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>   
      </rules>
    </rewrite>
  </system.webServer>-->
	<!--************************************************************************************************-->

	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>