body {
    background-color: darkblue;
    color: darkblue;
    font-size: 1vw;
    min-width: .5vw;
    background: #02111D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02111D, #037BB5, #02111D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

strong
{
    color:red;
}
.additionsRow .col-sm-9
{
    padding-left:.5em;
    padding-right:.5em;
}


.additionsRow span
{
    font-size:1.2em;
    font-weight:bold;
}

.htRow span
{
    font-size:1.2em;
    font-weight:bold;
    border-bottom: 1.5px dotted red;
}

p 
{
    font-size:1.5em;
    font-weight:bold;
    color:darkred;
    text-align:left;
    padding:.5em;
}

.container-fluid.custom-container
{
    margin-bottom:1em;
    padding:0;
}

div 
{
    margin-top:.5em;
    margin-bottom:.5em;
}

#historyAlumniArt div 
{
    font-size: 1.5em;
    font-weight: bold;
    color: darkred;
    text-align: left;
    padding: .5em;
}

.myHistDiv 
{
    font-size: .2em;
    font-weight: bold;
    color: darkred;
    text-align: left;
    margin-left:4em;
}

sup 
{
    color:darkred;
    text-decoration:underline;
}

a, a:visited, a:focus
{
    text-decoration:underline;
    color:red;
    cursor:pointer;
}

#looka {
    text-decoration: none;
    color: yellow;
    cursor: pointer;
    font-size:1em;
}

iframe
{
    background-color:moccasin;
    color:maroon;
}

ul 
{
    list-style-type:none;
}

.minutesUL li a
{
    font-size:.2em;
}

#minutesArt p
{
    font-size:1em;
}

.myHeaderFirst 
{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    border:3px solid maroon;
    border-radius:10px;
    /*margin-top:1em;*/
    margin-bottom:1em;
    padding:.5em;
    background-color:chocolate;
    color:yellow;
}

.myHeader 
{
    float:left;
    margin-left:18em;
    margin-right:auto;
    width:75%;
    border:3px solid maroon;
    border-radius:10px;
    margin-top:1em;
    margin-bottom:1em;
    /*padding:.5em;*/
    background-color:chocolate;
    color:yellow;
}

.newsHeader 
{
    width:70%;
    border:3px solid maroon;
    border-radius:10px;
    margin-top:1em;
    margin-bottom:1em;
    background-color:chocolate;
    color:yellow;
}

h1 
{
    margin-left:auto;
    margin-right:auto;
    font-size:1.8em;
}

h2
{
    font-size:1.5em;
    color:maroon;
}

h3
{
    font-size:1.3em;
}

#jobsArt h2
{
    color:maroon;
}

.myAside 
{
    float:left;
    width:15%;
    margin-top:1em;
    margin-left:1em;
    min-height:10em;
    border:3px solid maroon;
    border-radius:10px;
    z-index:10; 
    position:fixed;
    padding-bottom:1em;
}

    .myAside a:visited, .myAside a:link
    {
        color:white;
        font-size:1.3em;
        font-weight:bold;
        text-decoration:underline;
    }

    .myAside ul li div 
    {
        font-size:1em;
    }

.news2KnowH1 
{
    color:darkred;
    text-decoration:underline;
    cursor:pointer;
    margin-top:.5em;
    /*margin-left:2em;*/
}

#divChapters a:visited, #divChapters a:link 
{
    color:yellow;
    text-decoration:none;
}

#minutesArt div, #agendaArt div
{
    text-align:left;
    color:maroon;
    padding:1em;
    font-weight:bold;
    font-size:1.5em;
}

#minutesArt p, #agendaArt p
{
    text-align:center;
    font-size:2em;
}

.obitH1 
{
    color:darkred;
    font-size:2em;
    text-align:left;
    text-decoration:underline;
    cursor:pointer;
    margin-top:.5em;
    margin-left:2em;
}

#myObit img, #currentObits img 
{
    border:3px solid maroon;
    border-radius:10px;
    box-shadow:black 7px 7px 10px;
}

.jobP
{
    font-size:2em;
}

.eventMenu 
{
    float:left;
    width:20%;
    margin-top:2em;
    min-height:10em;
    background-color:chocolate;
    border:3px solid maroon;
    border-radius:10px;
    padding-bottom:1em;
    padding-left:1em;
    text-align:left;
}

.myArts 
{
    float:left;
    margin-left:22%;
    margin-top:1em;
    width:75%;
    background-color:moccasin;
}

.myArtsAlt {
    float: left;
    margin-left: 18em;
    margin-top: 1em;
    width: 75%;
    background-color: moccasin;
}

.List20Year li 
{
    margin-top:.15em;
    cursor:pointer;
    line-height:.8em;
    background-color:chocolate;
    color:yellow;
}

#honorList ul li {
    color:yellow;
}

#golfGetArt ul li {
    color:maroon;
    font-size:1.5em;
    text-align:left;
    font-weight:bold;
}

#golfGetArt ul li {
    color:maroon;
    font-weight:bold;
    font-size:1.5em;
}

#agendaList li
{
    float:left;
    display:block;
}

.archList 
{
    margin-top:-1em;
}

.archList li
{
    font-size:1.2em;
    cursor:pointer;
}

.alumniList li 
{
    cursor:pointer;
}

 li 
{
    cursor:pointer;
}

.eventArts 
{
    float:left;
    margin-left:1em;
    margin-top:2em;
    width:75%;
    padding:.5em;
    background-color:moccasin;
    min-height:25em;
}

.myFooter
{
    margin-left:18em;
    margin-top:2em;
    width:75%;
    padding:.5em;
    background-color:moccasin;
    border-top:thick solid darkred
}

#mySlideRequest 
{
    text-decoration:underline;
    cursor:pointer;
}

.ssPics
{
    height:35em;
    margin-left:auto;
    margin-right:auto;
}

#btnHitReport 
{
    margin-left:2em;
    color:darkred;
    background-color:moccasin;
    font-weight:bold;
    font-size:.8em;
}

.myArts p, .myFooter p
{
    padding:.5em;
}

#ulSuggestedItems li 
{
    color:darkred;
    font-size:1.2em;
}

#mainMenu li
{
    text-align:left;
    color:yellow;
    font-size:1em;
    margin-left:1em;
    margin-top:.25em;
    font-weight:bold;
    cursor:pointer;
}

.eventMenu ul 
{
    text-align:left;
}

.eventMenu ul li 
{
    text-align:left;
    color:yellow;
    font-size:1.2em;
    margin-top:.25em;
    font-weight:bold;
    cursor:pointer;
    padding-left:0;
}

.officersList li, .appOfficersList li
{
    color:darkred;
    font-weight:bold;
    font-size:1.3em;
    cursor:default;
    text-align:left;
    /*border-bottom:1px dotted darkred;*/
}

.appOfficersList  li img
{
    margin-left:2em;
}

.officersList li img
{
    cursor:default;
    margin-left:15em;
}

#chapList li 
{
    color:darkred;
    font-weight:bold;
    font-size:1em;
    border-bottom:1px dotted darkred;
}

.bottomDot
{
    border-bottom:1px dotted yellow;
    margin-right:1em;
}

.bottomDotMaroon
{
    border-bottom:1px dotted maroon;
    margin-right:1em;
}

.bottomDotRed
{
    border-bottom:1.5px dotted red;
    /*margin-right:1em;*/
    /*margin-bottom:.5em;*/
}

.bottomDouble 
{
    border-bottom:double medium;
    margin-right:1em;
}

#linkUl li
{
    color:darkred;
    font-weight:bold;
    font-size:1.5em;
}

.pageWrapper
{
    background-color:moccasin;
    width:85%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    color:darkblue;
    min-height:600px;
    margin-bottom:3em;
    text-align:center;
    border:3px solid white;
    border-radius:10px;
}

.pageDiv 
{
    border:3px solid maroon;
    border-radius:10px;
    margin:2em;
    background-color:moccasin;
    color:maroon;
    min-height:20em;
}

.myBut 
{
    box-shadow:black 5px 5px 7px;
    border-radius:5px;
    background-color:darkblue;
    color:lightblue;
    font-size:1.5em;
    font-weight:bold;
    padding:.2em;
}

.hotBut 
{
    box-shadow:black 5px 5px 7px;
    border-radius:5px;
    border-color:red;
    background-color:LightGoldenrodYellow;
    color:red;
    font-size:1.5em;
    font-weight:bold;
    padding:.2em;
}

.myGrayBut 
{
    box-shadow:black 5px 5px 7px;
    border-radius:5px;
    background-color:darkgray;
    color:lightgray;
    font-size:1.5em;
    font-weight:bold;
    padding:.2em;
}

.mySpan 
{
    color:darkred;
    text-decoration:underline;
}

.myCaption 
{
    font-style:italic;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    font-size:.8em;
}

.smallBut 
{
    box-shadow:black 5px 5px 7px;
    border-radius:5px;
    background-color:darkblue;
    color:lightblue;
    font-size:1em;
    font-weight:bold;
    padding:.2em;
}

.mycheckbox input[type="checkbox"] 
{
    margin-right:1em;
}

.news2KnowH1, .obitH1
{
    float:left;
    font-weight:bold;
    color:blue;
}

.myHR
{
    border: thin double darkred; 
    background-color: darkred; 
    width:80%;
    margin-right:auto;
    margin-left:auto;
}

.myPic 
{
    float:left;
    margin-top:.5em;
    margin-right:.5em;
    margin-bottom:.5em;
    width:30%;
}

.butA:visited
{ 
    color:lightblue;
}

.butA:focus
{ 
    color:lightblue;
}

.regA
{
    text-decoration:underline;
    color:red;
    cursor:pointer;
}

    .regA:visited 
    {
        color:darkred;
    }

.myFooter a:visited, .myFooter a:link 
{
    color:red;
}

/*#historyAlumniArt a:visited, #historyAlumniArt a:link, #historyAlumniArt a:link:active, #historyAlumniArt a:visited:active,
#gotoMain a:visited, #gotoMain a:link, #gotoMain a:link:active, #gotoMain a:visited:active,
#linkUl a:visited, #linkUl a:link, #linkUl a:link:active, #linkUl a:visited:active,
#archList li a:visited, #archList li a:link, #archList li a:link:active, #archList li a:visited:active*/
a:visited, a:link, a:link:active, a:visited:active
{
    color:red;
    text-decoration:underline;
    cursor:pointer;
    font-weight:bold;
}

#historyAlumniArt a
{
    cursor:pointer;
}

/*#gotoMain a:visited, #gotoMain a:link, #gotoMain a:link:active, #gotoMain a:visited:active
{
    color:red;
    text-decoration:underline;
    cursor:pointer;
}*/

/*#linkUl a:visited, #linkUl a:link, #linkUl a:link:active, #linkUl a:visited:active
{
    color:red;
    text-decoration:underline;
    cursor:pointer;
}*/

.fdPic
{
    height:30em;
    /*width:auto;*/
}

.coPic
{
    height:35em;
    /*width:auto;*/
}

.jobSearch, .upcomingEvents
{
    cursor:pointer;
}

.pomoList
{
    margin-top:-1em;
    float:left;
    text-align:left;
    width:15%;
}

.myPomo
{
    cursor:pointer;
}

#coin
{
    width:5%;
    opacity:.5;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
}

#diningoutprices span
{
    font-weight:bold;
    font-size:1.2em;
    text-align:left;
}

.wunderDiv li, .nhcDiv li
{
    text-align:left;
    color:maroon;
    font-size:1.5em;
    font-weight:bold;
}

.ulLink {
    margin: 0;
    margin-left: .7em;
    margin-right: .7em;
    margin-bottom: .7em;
    color: red;

}
.ulLink > li > div{
    margin-top: 0;
    font-size: 1.2em;
    padding-bottom: .1em;
    width : 100%;
    color: red;
}

.ulLink > li:first-child > div {
    margin-top: 1.2em;
    font-size: 1.2em;
    padding-bottom: .1em;
}

.ulLinkRedText > li > div *{
    color: red;
}

.ulLinkBold > li > div{
    font-weight: bold;
}

.ulLinkUnderline > li > div {
    text-decoration: underline;
}

.ulLinkBottomDottedRed > li > div{
    border-bottom: 1.5px dotted red;
}

.tableAnnouncements{
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background: #fbdf0c;
    /*#daea00*/
}
.trAnnouncementsHeader {
    font-size: 1.5em;
    border-bottom: 3px solid red;
}

.trAnnouncementsHeader > td
{
    font-weight: bold;
    color: red;
}

.trAnnouncementsEntry
{
   color: red;
   font-size: 1.2em;
}

.trAnnouncementsEntry > td {
    font-weight: bold;
    color: red;
}

.minutesUL li a
{
    color:red;
    text-align:center;
    font-size:.8em;
}


.announcement {
    width: 80%;
    text-align: left;
    padding-left: 10px;
    border-right: 3px solid red;
}

.date {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.rows {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-collapse: collapse;
}

.rows > div{
    margin: 0;
}

.rows > div > ul * {
    margin: 0;
}
/*#memUL li
{
    color:maroon;
    font-weight:bold;
    font-size:1em;
}

#milUL li
{
    color:maroon;
    font-weight:bold;
    font-size:1em;*/
