<?xml version="1.0" encoding="UTF-8"?>
<!--
    Please refer to machine.config.comments for a description and
    the default values of each configuration section.

    For a full documentation of the schema please refer to
    http://go.microsoft.com/fwlink/?LinkId=42127

    To improve performance, machine.config should contain only those
    settings that differ from their defaults.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AFTACWebSite.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="AFTACConnectionString" connectionString="Data Source=AFTAC.db.11065235.hostedresource.com;Initial Catalog=AFTAC;Persist Security Info=True;User ID=AFTAC;Password=Shirley@1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <customErrors mode="Off"/>
  </system.web>

  <applicationSettings>
    <AFTACWebSite.My.MySettings>
      <setting name="ComString" serializeAs="String">
        <value>Data Source=AFTAC.db.11065235.hostedresource.com; Initial Catalog=AFTAC; User ID=AFTAC; Password='Shirley@1';</value>
      </setting>
      <setting name="Loading" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailUser" serializeAs="String">
        <value>PeteGilbert</value>
      </setting>
      <setting name="MailPwd" serializeAs="String">
        <value>Shirley@1</value>
      </setting>
    </AFTACWebSite.My.MySettings>
  </applicationSettings>

  <system.codedom>
    <compilers>
      <compiler language="vb;c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <!--<system.webServer>
    <rewrite>
      <rules>
	      <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	        <match url="(.*)" /> 
	        <conditions> 
		        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	        </conditions> 
	        <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>   
      </rules>
    </rewrite>
  </system.webServer>-->  
</configuration>